@charset "utf-8";

.cx-1{
    background-color: brown;
    padding: 5px;
    text-align: center;
}

.cx-2{
    background-color: rgba(141, 195, 195, 0.711);
    padding: 5px;
    text-align: center;
}
.cx-3{
    background-color: rgb(111, 163, 163);
    padding: 5px;
    text-align: center;
}
.cx-4{
    background-color:blue;
    padding: 5px;
    text-align: center;
}
.cx-5{
    background-color:crimson;
    padding: 5px;
    text-align: center;
}
.cx-6{
    background-color: rgb(255, 0, 208);
    padding: 5px;
    text-align: center;
}
.cx-7{
    background-color: darkgoldenrod;
    padding: 5px;
    text-align: center;
}
.cx-8{
    background-color: darkslategrey;
    padding: 5px;
    text-align: center;
}
.cx-9{
    background-color:darkgreen;
    padding: 5px;
    text-align: center;
}
.cx-10{
    background-color: darkslateblue;
    padding: 5px;
    text-align: center;
}
.cx-11{
    background-color: gray;
    padding: 5px;
    text-align: center;
}
.cx-12{
    background-color: aqua;
    padding: 5px;
    text-align: center;
}
.cx-13{
    background-color:darkgoldenrod;
    padding: 5px;
    text-align: center;
}
.cx-14{
    background-color: brown;
    padding: 5px;
    text-align: center;
}

.cx-15{
    background-color: rgba(141, 195, 195, 0.711);
    padding: 5px;
    text-align: center;
}
.cx-16{
    background-color: rgb(111, 163, 163);
    padding: 5px;
    text-align: center;
}
.cx-17{
    background-color:blue;
    padding: 5px;
    text-align: center;
}
.cx-18{
    background-color:crimson;
    padding: 5px;
    text-align: center;
}
.cx-19{
    background-color: rgb(255, 0, 208);
    padding: 5px;
    text-align: center;
}
.cx-20{
    background-color: darkgoldenrod;
    padding: 5px;
    text-align: center;
}
.cx-21{
    background-color: darkblue;
    padding: 5px;
    text-align: center;
}