@charset "utf-8";

@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("/exercicios/projeto/fontes/Gilroy-Light.otf");
}

@font-face {
    font-family: "Gilroy-Light";
    src: url("/exercicios/projeto/fontes/Gilroy-ExtraBold.otf");
}




*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family:"Gilroy-Light" ;
}

body{
   
    background-color: #030328;
}

body a{
    color: #fff;
}

a{
    text-decoration: none;
}






#apresentacao{
    display: flex;
    flex-flow:column nowrap;
    height: 100vh;
    justify-content: space-between;
   
}

#barra-de-navegacao{
       display: flex;
       justify-content: space-between;
       border: 5px white;
       padding: 8px 16px;
       background-color: black;
       flex-flow: row wrap;
}

div, #menu{
    display: flex;
    align-items: center;

}

#menu > a{
    padding: 10px 26px;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
}

.assine{
    background-color: #b441f3;
    border-radius: 25px;
    display: block;
    text-align: center;
    
}

.assine:hover{
    background-color: #a703ffb0;
    transition: 1.0s;
}

#chamada{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: white;
}



#promocional > img{
    max-width: 100%;
    
    
    
}

#acao{
    display: flex;
    flex-flow: column nowrap ;
    padding-bottom: 40px;
    width: 320px;
    
    

}

#acao > a{
    padding-top: 10px ;
    padding-bottom: 10px;
    letter-spacing: 0.1em;
    text-align: center;
    width: 220px;
    align-self: center;
}

#acao > p{
    font-size: 0.9em;
    text-align: center;
    padding-top: 5px;
    

}